* {
  margin:0;
  padding:0;
  font-family: 'kanit';
}

section {
  margin:40px auto;
  text-align: center;
  margin:0;
  padding: 50px 10% 50px 10%;
  background-color: #ecf0f1;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
a:hover {
  color:#FA4616;
  text-decoration: underline;
}

#header {
  background-color:#c0392b;
  color:#FFF;
  padding-bottom:60px;
}
#header h1 {
  font-size:100px;
  font-weight:bold;
  margin: 40px 0 0 0;
}
#header h2 {
  font-size: 50px;
  margin: 0;
  opacity: 80%;
  margin-bottom: 90px;
}
.button {
  text-decoration: none;
  background-color: #FFF;
  color: #fa4616;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.button:hover {
  background-color:#f96e5e;
  color: #FFF;
}
.column {
  flex: 30%;
  padding: 20px;
  margin: 40px;
  background-color: #dbe0e0;
  text-align: center;
  border-radius: 10%;
}
.column h1 {
  padding: 30px 0 30px 0;
  font-size: 30px;
}
.column h2 {
  font-size: 30px;
  font-weight: bold;
}
.column h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.container {
    display: flex;
}

#competition {
  background-color:#dbe0e0;
}
#competition a {
  color: black;
  text-decoration: none;
}
.half {
  width:  49%;
  display:  inline-block;
  vertical-align: middle;
  padding-bottom: 50px;
}
.half img {
  max-width:100%;
}


